

body {
  background: rgb(182,164,189);
  background: linear-gradient(180deg, rgba(182,164,189,1) 25%, rgba(189,185,176,1) 75%);
  background-repeat: no-repeat;
  background-size: cover;

}


.table {
  text-align: center;
}

.table th, .table td {
  text-align: center;
  align-items: center;
}

  
